body {
    background-color: black;

}



.site-name {
        font-size: 150px;
        color:white;

}



.jumbotron {
     background-image: url("images/garoppolo-kaepernick.png");
     height: 600px;
     background-repeat: no-repeat;
    /* margin-left: 350px; */
     color: white;
     position: relative;
     width: 52.65%;
     margin: 0 auto;
     margin-bottom: 50px;


}

h1 {

    position: absolute;
    bottom: 0px;
    font-size: 55px;


}
.images-left {
    float: left;
    width: 15%;
}

.article {
    margin-left: 9%;
    width: 50%;
    margin-right: 4%;
    color: white;
    
}

.images-right {
    float: right;
    width: 10%;
}

* {
   outline: 1px solid red !important;
}

 *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.contain {
    display: flex;
}

.header {
    color: black;
    background-color: black;

}

.site-logo {

    margin-left: 15%;
}

.footer {
    color: white;
}

.button {

}
